<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carta de presentacion</title>
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    

    <header>    
    <ul class="nav-bar">
        <div class="categoria">Quien soy</div>
        <div class="categoria"> Mis Proyectos </div>
        <div class="categoria">Mis espectativas</div>
        <div class="categoria">Trabajos</div>
    </ul>
    </header>
    <div class="container1">
        <img class="lucasImg" src="/img/lucasImg.png" alt="un Picante">
            <div class="container-descript">
                <p class="titulo-perfil">Full Stack Developer</p>
                <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis et vero neque labore quam fugiat, nulla vitae voluptate non, repudiandae sunt. Saepe quia perspiciatis odit amet animi quas adipisci dignissimos.</p>
            </div>   
    </div>
    


   <footer>
        <p class="title-footer">Redes Sociales</p>
        <ul class="redes-sociales">
            <li class="categoria-redes"> <p>instagram</p><img class="logo-redes" src="/img/instagram.png" alt="foto de instagram"></li>
            <li class="categoria-redes"> <p>facebook</p><img class="logo-redes" src="/img/facebook.png" alt="foto de facebook"></li> 
            <li class="categoria-redes"> <p>linkedin</p><img class="logo-redes" src="/img/linkedin.png" alt="foto de linkedin"></li>
            <li class="categoria-redes"> <p>whatsapp</p><img class="logo-redes" src="/img/whatsapp.png" alt="foto de whatsapp"></li>
        </ul>
          

    
   </footer>
</body>
</html>